div .tag-1{
    display: none;
    z-index:5;
}
body div #tag-2{
    display:none;
}
#wall .parent #tag-4 {
    display:block;
    position:fixed;
    width:1000px;
    height:500px;
}

#id1 {
    background:green;
}

div#wall div.parent #tag-5.slick{
    display:none;
    z-index:5;
}

div#wall div#tag-2 {
    display:none;
}